@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham';
  src: url("../public/fonts/Gotham-Light.otf") format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../public/fonts/Gotham-Thin.otf") format('opentype');
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../public/fonts/Gotham-Bold.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../public/fonts/Gotham-Book.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../public/fonts/Gotham-Medium.otf") format('opentype');
  font-weight: 500;
  font-style: normal;
}